* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.grid{
    margin: 1em;
    border-style: solid;
    padding: 1em;

    display: flex;
    flex-direction: column;

    background: rgb(138, 45, 45);
}

.row{
    display: flex;
    justify-content: center;
}

.cell{
    margin: 0px;
    border-style: dotted;
    border-width: 1px;
    flex-basis: 2em;
    height: 2em;
    background: grey;
}

.restart {
    font-size: larger;
    padding: 1em;
    margin: 2em;
    color: grey;

}