* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}

.centralizer{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.grid{
    margin: 1em;
    border-style: solid;
    padding: 1em;

    flex-grow: 1;
    max-height: 75vh;
    max-width: 75vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: rgb(138, 45, 45);
}

.row{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
}

.cell{
    margin: 0px;

    background: grey;

    flex-grow: 1;
}

.restart {
    font-size: larger;
    padding: 1em;
    margin: 2em;
    color: grey;

}